@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Analysis Console</h1>
    <p class="lead">Welcome to the analysis console! Pick your target and start analyzing it.</p>
    <p>You are running the TODO version of the analysis console, which can analyze TODO-bit targets.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Attach Targets</h2>
        <p>TODO</p>
    </div>
    <div class="col-md-6">
        <h2>Dump Files</h2>
        <p>TODO</p>
    </div>
</div>